


<button class="tablink" onclick="openPage('Home', this, 'rgb(60, 156, 216)')">Home</button>
<button class="tablink" onclick="openPage('News', this, 'rgb(60, 156, 216)')" id="defaultOpen">Qualité Disponible</button>
<button class="tablink" onclick="openPage('Contact', this, 'rgb(60, 156, 216)')">Contact</button>
<button class="tablink" onclick="openPage('About', this, 'rgb(60, 156, 216)')">Localisation</button>

<div id="Home" class="tabcontent">
  <h3>Home</h3>
  <p>Home is where the heart is..</p>
  
</div>

<div id="News" class="tabcontent">
  <h3>Qualité de riz</h3>
  <p>Some news this fine day!</p> 
</div>

<div id="Contact" class="tabcontent">
  <h3>Contact de l'usine</h3>
  <p>Get in touch, or swing by for a cup of coffee.</p>
</div>

<div id="About" class="tabcontent">
  <h3>Localisation</h3>
  <p>Who we are and what we do.</p>
</div>